body {
    background-image: url(/goatf.jpg);
    background-size: cover;
}

.soccer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    margin-top: 100px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.polya {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    position: absolute;
    border-radius: 200px;
    transition: 0.3s linear;
    transform-origin: center;
    animation: roll 1s linear infinite;
}

.ranoldo {
    margin-right: 100px;
    border-radius: 100px;
    transform-origin: center;
    animation: roll 1s linear infinite;
}

.messi {
    margin-left: 100px;
    border-radius: 100px;
    transform-origin: center;
    animation: roll 1s linear infinite;
}
@keyframes roll {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}